<h1>Json Yazdırma</h1>
<thead>
  </thead>
<tbody>
    <% @a.each do |t| %>
      
       
        <%= @a.first["episode"]["body"]%>
        <%= t["episode"]["title"]%>
       
      <% end %>
    
  </tbody>
